<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="PeerCast yellow-page YP Developper" />
    <meta name="description" content="開発向けYP" />
    <title>
      {%- if title %}
        {{ title }}
      {%- else %}
        {{ metadata.title }}
      {%- endif %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{%- if description -%} {{ description }} {%- else -%} {{ metadata.description }} {%- endif -%}" />
    {# <script src="/static/bundle.js"></script> #}
    {% set css %}
    {% endset %}
    <style>{{css | postcss | safe}}</style>
    {%- if header_scripts %}{{ header_scripts | safe }}{%- endif %}
  </head>
  <body {{ bodyAttrs | safe }}>
    <nav>
      <ul>
        {%- for item in nav.items %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
    {{ content | safe }}
  </body>
</html>
{% set js %}
  {% include "main.js" %}
{% endset %}
<script>{{ js | safe }}</script>
