OUTPUT_DIR="build/yp-example"
SITE_NAME="DevYP-example"
SITE_URL="http://localhost/"
SITE_HTTPS="false"
PCP_URL="pcp://localhost:7144/"
INDEX_TXT_URL_PARAM='{"port": "7143", "pathname": "/index.txt"}'
INDEX_JSON_URL_PARAM='{"port":"7143", "pathname": "/api/index.json"}'
FOOTER_LINK_ADD='[{"title":"Exampleへ", "url":"http://localhost/"}]'