---
layout: base.njk
title: 配信
eleventyComputed:
  title:  "{{ title }} | {{ metadata.title }}"
  header_scripts: |
    {% if build.env === "production" %}
      <script type="module" src="/vite-render_url.js"></script>
    {% else %}
      <script type="module">import {renderPcpUrl} from "http://localhost:5173/src/client/render_url.tsx"</script>
    {% endif %}
    <script>
      window.addEventListener("load", (event) => {
        let pcp_url = {{ metadata.pcpUrl |  dump | safe }};
        renderPcpUrl("copy_index_url", pcp_url, "PeerCast配信用URL")
      });
    </script>
---

<main>
  <p>ここはアマゾンの奥地</p>
  <div id="copy_index_url"></div>
</main>
<nav>
  <!-- あとでここに記事へのナビゲーションを付けます -->
</nav>
