---
bodyAttrs: onload='renderIndexShow("channel_index")'
eleventyComputed:
  header_scripts: |
    {% if build.env === "production" %}
      <script type="module" src="/vite-index_show.js"></script>
    {% else %}
      <script type="module">import {renderIndexShow} from "http://localhost:5173/src/client/index_show.tsx"</script>
    {% endif %}

    {% if build.env === "production" %}
      <script type="module" src="/vite-main.js"></script>
    {% else %}
      <script type="module" src="http://localhost:5173/src/client/main.js"></script>
    {% endif %}
---
{% extends "base.njk" %}
{# layout: base.njk #}

{% block XXX %}
<h2>自己紹介</h2>
<p>こんにちは〜</p>
{% endblock XXX %}

{% block content %}
<main>
  <hr />
  <div id="channel_index">
    <p>ベストなSSGを探しに我々はアマゾンの奥地へと向かった。</p>
  </div>
  <hr />
  <pre>
    {{ page | dump('\t') }}
    {{ eleventy | dump('\t') }}
  </pre>
</main>
{% endblock content %}