---
layout: base.njk
---

<main>
  <p>ベストなSSGを探しに我々はアマゾンの奥地へと向かった。</p>
</main>
<nav>
  {{ page.url }}
  {{ page.fileSlug }}
  {{ page.date }}
  {{ eleventy .version }}
</nav>
{% if build.env === "production" %}
  <script type="module" src="./main.js"></script>
{% else %}
  <script type="module" src="http://localhost:5173/src/client/main.js"></script>
{% endif %}
